*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

/* Centratura */

body {
    width: 90%;
    margin: auto;
}

/* css header*/

#logo_img {
    height: 50px;
}

ul >li {
    display: inline;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    color: darkgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

/* css main */
    /* css center image */

.main_img {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    filter: brightness(50%);
    width: 100%;
    height: 40rem;
    position: relative;
    float: left;
}

.floating_titles {
    width: 50%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    float: left;
    margin: 23rem 5rem;
}

.floating_titles > h2 {
    font-size: 35px;
}

.floating_titles > p {
    font-size: 25px;
}

    /* css title article */

.main_titles { 
    background-color: darkcyan ;
    height: 100px;
    float: left;
}

.columns > aside, article {
    height: 300px;
}

aside {
    width: 20%;
    background-color: deepskyblue;
}

.main_article {
    width: 60%;
    background-color: navy;
}

/* css footer */
footer {
    background-color: aqua;
    height: 100px;
}

/* Utility */
.float {
    float: left
}

.max_width {
    width: 100%;
}

.margin_bot {
    margin-bottom: 1rem;
}

