/* css common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}
/* /css common rules */


/* Centratura */
body {
    width: 90%;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* /Centratura */


/* css header*/
#logo_img {
    height: 50px;
}

ul >li {
    display: inline;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    color: darkgray;
    text-transform: uppercase;
}
/* /css header*/


/* css main */
    /* css center image */

.main_img {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    filter: brightness(80%);
    width: 100%;
    height: 40rem;
    position: relative;
    float: left;
}

.floating_titles {
    width: 50%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    float: left;
    margin: 23rem 5rem;
}

.floating_titles > h2 {
    font-size: 35px;
}

.floating_titles > p {
    font-size: 25px;
}
    /* /css center image */


    /* css title article */
.main_titles { 
    padding: 3rem 0;
    float: left;
    width: 100%;
}

.main_titles > h2 {
    font-size: 18px;
    font-weight: 100;
    color:darkgray;
}
    /* /css title article */

    /* css columns article */

.col_img {
    border-radius: 1rem;
    filter: brightness(80%);
    height: 20rem;
    object-fit: cover;
    width: 100%;
}

aside {
    width: 25%;
}

.main_article {
    width: 45%;
    margin: 0 2.5%
}

.columns p {
    color: darkgray;
}

/* css footer */
footer {
    background-color: aqua;
    height: 100px;
}

/* Utility */
.float {
    float: left
}


.margin_bot {
    margin-bottom: 1rem;
}

